html, body, #wrapper {
  height: 100%;
}
body {
  background-color: #eff3fa;
  font-family: "Open Sans", sans-serif;

  /* to compensate for fixed top*/
  padding-top: 0px;
}

.navbar {
  background-color: #337AB7;
  height: 25px;
}

.navbar .navbar-brand {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: white;
  padding-left: 30px;
  padding-top: 12px;
}

.navbar .navbar-brand:hover {
  color: white;
}

.navbar .navbar-right {
  margin-right: 20px;
}

.navbar .navbar-nav li a {
  color: white;
  font-size: 16px;
  font-weight: 100;
}

.navbar .navbar-nav li a:hover {
  color: #CCCCCC;
}

.navbar .navbar-nav .dropdown-menu li a {
  color: black;
  font-size: 14px;
}

.user-template img {
  border: 1px solid #000;
}

.app-wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.editor {
  margin-top: 15px;
}


#sidebar-wrapper {
    z-index: 1000;
    left: 0px;
    height: 100%;
    margin-left: 0px;
    overflow-y: auto;
    background: #1D212A;
    padding-right: 0px;

}

#top-bar-wrapper {
  height: 60px;
  background: #2D7CB5;
}

/* Sidebar Styles */

.sidebar-nav {
    list-style: none;
    padding-left: 0px;
}

.sidebar-nav li {
    text-indent: 0px;
    line-height: 40px;
}

.sidebar-nav li img {
    width: 130px;
    height: 130px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff ;
    text-align: center;
    font-family: 'Open Sans';
}

.sidebar-nav li:hover {
    text-decoration: none;
    color: #fff;
    background: #2D7CB5;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 90px;
    font-size: 48px;
    line-height: 60px;
    font-family: 'Amatic SC';
    color: #2D7CB5;
    text-align: center;
    vertical-align: top;
    padding-bottom: 90px
}


.sidebar-nav > .sidebar-brand p:hover {
    color: #2D7CB5;
    background: #1D212A;
}

