body {
  background-color: #eff3fa;
  font-family: "Open Sans", sans-serif;

  /* to compensate for fixed top*/
  padding-top: 70px;
}

.navbar {
  background-color: #337AB7;
  height: 25px;
}

.navbar .navbar-brand {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: white;
  padding-left: 30px;
  padding-top: 12px;
}

.navbar .navbar-brand:hover {
  color: white;
}

.navbar .navbar-right {
  margin-right: 20px;
}

.navbar .navbar-nav li a {
  color: white;
  font-size: 16px;
  font-weight: 100;
}

.navbar .navbar-nav li a:hover {
  color: #CCCCCC;
}

.navbar .navbar-nav .dropdown-menu li a {
  color: black;
  font-size: 14px;
}

.user-template img {
  border: 1px solid #000;
}

.app-wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.editor {
  margin-top: 15px;
}
