<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cookie Bot</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cookie Bot">
    <meta property="og:description" content="This is Cookie Bot">
    <meta property="og:image" content="http://ec2-52-76-48-36.ap-southeast-1.compute.amazonaws.com/images/background-logo.png">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,800,700,700italic,400italic,300italic,800italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,600,700" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.0/bootstrap-social.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="wrapper" class="row">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="col-md-2">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <p> CookieBot </p>
                </li>
                <li>
                    <a href="/app">
                      <img src = "/icons/cookie_nav.png" />
                      Create Your Cookie
                    </a>
                </li>
                <li>
                    <a href="/gallery">
                      <img src = "/icons/gallery_nav.png" />
                      Gallery
                    </a>
                </li>
                <li>
                    <a href="/profile">
                    <img src="/icons/profile_nav.png" />
                    Profile
                  </a>
                </li>
            </ul>
        </div>
        <div id="page-content-wrapper" class="col-md-10">
          <div id="top-bar-wrapper" class="row">
            <ul id="heading_navbar" class="nav navbar-nav navbar-left">
              <li><%= heading if defined?(heading) %></li>
            </ul>
            <ul id="user_navbar" class="nav navbar-nav navbar-right">
                <% if session[:id] %>
                  <li><a href="/profile"><%= session[:email] %></a></li>
                <% else %>
                  <li><a href="/login">Sign In</a></li>
                <% end %>
            </ul>
          </div>
          <%= yield %>
        </div>
    </div>
    <div id="footer"></div>
  </body>
</html>
